/**************/
/* CSS REMEDY */
/**************/
html {
    font-family: sans-serif;
    text-size-adjust: 100%;
    font-size: 14px;
}

*, *::after, *::before {
    box-sizing: border-box;
}
*{
    box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --color-text: #ffffff;
    --color-background: #0a0a0a;
    --border-color: #fbff00;
    --yellow: #F0CE57;
    --gradient-one: rgba(0, 0, 0, 0.85);
    --gradient-two: rgba(0, 0, 0, 0.15);
    --blue: #2C3EDC;
    --white: #f4f6ff;
    --white1: rgba(244, 246, 251, 0.1);
    --white2: rgba(244, 246, 251, 0.9);
}

/****************/
/* JOUW STYLING */
/****************/

/****************/
/*    HEADER    */
/****************/

header {
    min-height: 4em;
    padding: 0 1em;
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 20;
}

header > a:first-of-type {
    display: grid;
    grid-template-columns: min-content min-content;
    gap: .25em;
    align-items: center;
    font-weight: bold;
}

header a {
    padding: .5em 0;
    color: var(--color-text);
    text-decoration: none;
}

header > a:last-of-type {
    display: flex;
    align-items: center;
    gap: .25em;
}

header > a:first-of-type img {
    height: 2em;
}

header > a:last-of-type img {
    width: auto;
    height: 1.333em;
}

header > nav {
    display: block;
    unicode-bidi: isolate;
    order: 10;
}

header > nav ul {
    margin: 0;
    padding: 4em 1em 0;
    list-style: none;
    display: flex;
    gap: 1em;
    background: var(--color-background);
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(100%);
}

header > nav li {
    flex-basis: 9em;
    flex-grow: 1;
}

header > nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25em;
    border: solid 1px var(--border-color);
    color: var(--color-text);
}

header > nav a img {
    width: auto;
    height: 2em;
}

header > nav button {
    padding: .5em;
    display: flex;
    align-self: center;
    gap: .25em;
    appearance: none;
    background-color: var(--color-background);
    border: none;
    border-radius: .25em;
    font: inherit;
    text-align: center;
    color: var(--color-text);
}

/****************/
/*     MAIN     */
/****************/
body::-webkit-scrollbar {
    width: 9px;
  }
  body::-webkit-scrollbar-track {
    background: 3px solid #0b0b0c;
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    border: #0b0b0c;
  }

body {
    font-family: Inter, Helvetica, Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: var(--color-background);
    color: var(--color-text);
    line-height: 1.6;
    margin: 0;
}

main section img{
    width: 100%;
}

h1 {
    display: block;
    font-size: 1em;
    margin: 1rem 0 2rem;
    font-weight: normal;
    line-height: 1.1em;
    max-width: 22rem;
}

body > section button {
    display: flex;
    flex-direction: column;
    margin: 0 auto 1rem;
    font-size: 1.31rem;
    padding: 0.9rem 1.4rem;
    border-radius: 5.3rem;
    cursor: pointer;
    border: none;
}

body > section button:first-of-type {
    background: var(--blue);
    color: var(--white);
}

body > section button:last-of-type {
    background: var(--white1);
    color: var(--white2);
    backdrop-filter: blur(0.5rem);
}

main {
    font-size: 2em;
}

body > section:first-of-type {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
    min-height: 60vh;
    padding-bottom: 3vh;
    background: linear-gradient(120deg, var(--gradient-one) 0%, var(--gradient-two) 100%);
    text-align: center;
    align-items: center;
}

section > img:first-child {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    overflow: clip;
}

/****************/
/*     MAIN     */
/****************/

main > h2 > span {
    color: var(--yellow);
    text-align: center;
  }

main > h2{
    font-size: .7em;
    margin: 1.2em;
    text-align: center;
    font-weight: normal;
    line-height: 1.2;
    
    margin-top: 5rem;
    margin-bottom: 3rem;
}

section:first-of-type ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  section:first-of-type ul li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  section:first-of-type ul li img {
    width: 50vw;
    height: auto;
    object-fit: cover;
  }
  
  section:first-of-type ul li a {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    font-size: .8em;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }

  .caroCarrousel {
	/* basis waarden die door de hele carrousel gebruikt worden */
	/* kun je zelf aanpassen */
	--caroCarrouselMainColor:#333;
  --caroCarrouselAccentColor:#1b75b3;
	--caroCarrouselShadeColor:#ddd9;
  --caroCarrouselInverseColor:#e48a4c;
  
  --caroCarrouselAutoScrollInterval:4000;

  position: relative;
	outline:none;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  .caroCarrousel {
    --caroCarrouselMainColor:#ccc;
    --caroCarrouselShadeColor:#4449;
  }
}


/************************************/
/* de carrousel elementen container */
.caroCarrousel > ul {
  margin: 0; padding: 0;
  list-style: none;
	display: flex;
	
	/* handmatig scrollen is mogelijk */
	overflow: hidden;
	
	/* snappen als er gescrolled wordt - andere helft bij li */
  scroll-snap-type: inline mandatory;
  
  /* smooth als met js gescrolled wordt */
	scroll-behavior: smooth;
  
  /* scrollbar zoveel mogelijk verbergen */
  -webkit-overflow-scrolling: touch; /* voor iOS*/
  -ms-overflow-style: none; /* voor IE */
	scrollbar-width: none; /* voor firefox */
}

.caroCarrousel > ul::-webkit-scrollbar {
  /* scrollbar zoveel mogelijk verbergen */
  display: none; /* voor chrome, safari en edge*/
}


/**************************/
/* de carrousel elementen */
.caroCarrousel > ul li {
  flex-basis: 100%;
  flex-shrink: 0;
  /* snappen als er gescrolled wordt - andere helft bij ul */
	scroll-snap-align:center;
}


/**********************************/
/* de carrousel elementen content */

/* de stijlen voor jouw content hier */
.caroCarrousel > ul li > h2, p {
  display: block;
  width: 100%;
}


/****************/
/* DE BOLLETJES */
/****************/

/* de bolletjes container */
.caroCarrousel nav ul {
  position: absolute;
	left: 2em; right: 2em;
	bottom: 0;
	margin: 0;
  padding: 0 0 .5em;
  list-style: none;
	
	display: flex;
/* 	flex-wrap:wrap; */
  justify-content: center;
  gap:.4em;
}

/* een bolletje container */
.caroCarrousel > nav li {
	flex-basis: 1.2em;
	aspect-ratio: 1/1;
}

/* de bolletjes */
.caroCarrousel > nav a {
  display: block;
  width:100%;
  height:100%;
  
  text-decoration: none;
	color: var(--caroCarrouselMainColor);
  background-color: var(--caroCarrouselShadeColor);
	border-radius: 50%;
  outline: none;
	box-shadow: inset 0 0 0 1px currentColor;
  
  transition: 0.5s;
}

.caroCarrousel > nav a:hover,
.caroCarrousel > nav a:focus {
  color: var(--caroCarrouselAccentColor);
}

.caroCarrousel > nav a.current {
  background-color: currentColor;
}

.caroCarrousel > nav a:hover,
.caroCarrousel > nav a:focus {
  color: var(--caroCarrouselAccentColor);
}

.caroCarrousel > nav a.current {
  background-color: currentColor;
}


/*********************/
/* PLAY/PAUSE BUTTON */
/*********************/

.caroCarrousel > button {
  position: absolute;
  right: .5em;
  bottom: .5em;
  
  width: 1.2em;
  aspect-ratio:1/1;
  padding:0;
  
  font-size:inherit;
  appearance: none;
  background-color: var(--caroCarrouselShadeColor);

  border: none;
	outline: none;
	box-shadow: inset 0 0 0 1px currentColor;
	cursor: pointer;
	
  transition: 0.5s;

	display: flex;
  justify-content: center;
	align-items: center;
}

.caroCarrousel > button:hover,
.caroCarrousel > button:focus {
  color: var(--caroCarrouselAccentColor);
}

/* play/pause button */
.caroCarrousel > button::before,
.caroCarrousel > button::after {
  content: "";
  position: absolute;
  width: .5em; height: 2px;
  background-color: currentColor;
  transform-origin: calc(100% - 1px) center;
  transition:transform 0.5s;
}

/* indien niet aan het auto-scrollen */
/* de streepjes vormen een play-icoon */
.caroCarrousel > button::before {
	transform: translateY(0) rotate(45deg);
}
.caroCarrousel > button::after {
	transform: translateY(0) rotate(-45deg);
}

/* indien aan het auto-scrollen */
/* de streepjes vormen een pauze-icoon */
.caroCarrousel.autoScrolling > button::before {
	transform: translateY(-2px);
}
.caroCarrousel.autoScrolling > button::after {
	transform: translateY(2px);
}

/* in de button draait een 'eierwekker' */
.caroCarrousel.autoScrolling > button {
	animation-name: carrouselAutoScrollingButton;
  animation-duration: calc(var(--caroCarrouselAutoScrollInterval) * 1ms);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes carrouselAutoScrollingButton {
	0%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 0%, transparent 0%); }
	2%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 2%, transparent 0%); }
	4%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 4%, transparent 0%); }
	6%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 6%, transparent 0%); }
	8%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 8%, transparent 0%); }
	
	10%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 10%, transparent 0%); }
	12%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 12%, transparent 0%); }
	14%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 14%, transparent 0%); }
	16%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 16%, transparent 0%); }
	18%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 18%, transparent 0%); }

	20%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 20%, transparent 0%); }
	22%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 22%, transparent 0%); }
	24%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 24%, transparent 0%); }
	26%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 26%, transparent 0%); }
	28%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 28%, transparent 0%); }

	30%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 30%, transparent 0%); }
	32%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 32%, transparent 0%); }
	34%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 34%, transparent 0%); }
	36%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 36%, transparent 0%); }
	38%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 38%, transparent 0%); }

	40%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 40%, transparent 0%); }
	42%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 42%, transparent 0%); }
	44%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 44%, transparent 0%); }
	46%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 46%, transparent 0%); }
	48%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 48%, transparent 0%); }

	50%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 50%, transparent 0%); }
	52%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 52%, transparent 0%); }
	54%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 54%, transparent 0%); }
	56%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 56%, transparent 0%); }
	58%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 58%, transparent 0%); }

	60%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 60%, transparent 0%); }
	62%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 62%, transparent 0%); }
	64%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 64%, transparent 0%); }
	66%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 66%, transparent 0%); }
	68%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 68%, transparent 0%); }

	70%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 70%, transparent 0%); }
	72%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 72%, transparent 0%); }
	74%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 74%, transparent 0%); }
	76%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 76%, transparent 0%); }
	78%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 78%, transparent 0%); }

	80%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 80%, transparent 0%); }
	82%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 82%, transparent 0%); }
	84%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 84%, transparent 0%); }
	86%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 86%, transparent 0%); }
	88%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 88%, transparent 0%); }

	90%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 90%, transparent 0%); }
	92%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 92%, transparent 0%); }
	94%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 94%, transparent 0%); }
	96%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 96%, transparent 0%); }
	98%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 98%, transparent 0%); }
	
	100%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 100%, transparent 0%); }
}